# Created by https://www.gitignore.io/api/java-web

### Java-Web ###
## ignoring target file
lib/
out/
.idea/
.classpath
.project
.settings/
target/
*.iml



# End of https://www.gitignore.io/api/java-web

